@charset "utf-8";
/* CSS Document */
#container{ 
  width:1020px;
  margin:0 auto;
}
body{
	background: url("images/flag3.jpg") no-repeat;
	background-repeat: no-repeat;
    background-size: cover;	
}
main{
	width:900px;
	margin:0		
}
header{
	height:100px;	
}
header h1{
	font-size: 70px;
	font-family: jaf-herb, serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color:black;
	background-color:blue;
}
nav{
	width:100%;
	text-align: center;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 5px;
	
	
}

nav li{
	display:inline;
	
	
	
}
h1{
	font-size: 50px;
	font-family: jaf-herb, serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color:red;
	
}
.right h1{
	width : 450px;
	font-size: 50px;
	font-family: jaf-herb, serif;
    font-weight: 400;
    font-style: normal;
	text-align: center;
	color:red;
	padding-left: 50px
	
}
.right{
	width: 200px;
	float: right;
	align-content: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 450px;
}
.clearfix {
  overflow: auto;
}
.left1{
	width: 445px; 
	float:left;
	margin-top:30px;
	padding-bottom: 30px;
	padding-left: 100px;
	font-family: gautreaux, sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 30px;
	color:darkslategrey;
	
}
.left{
	float:left;
    padding-top: 30px;
	padding-left: 100px;
	width: 300px; 
	clear: left;
	font-family: gautreaux, sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 30px;
	color: black;
}

footer h1{
font-size: 30px;
text-align: center;
clear: both;
font-weight: 700;
font-style: normal;
width: 100%;
font-family: gautreaux, sans-serif;
padding-bottom: 20px;
color:darkslategray;
}